<!doctype html>
<html>
<head>
<title>{% block title %}INSERT TITLE{% endblock %}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

<!-- add in jQuery  -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- google fonts -->
<link href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'> <!-- for navbar and headers -->
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> <!-- for majority of content -->

<!-- favicon -->
<link rel="icon" type="image/png"  href="/static/img/favicon.ico">

<!-- animated CSS -->
<link rel="stylesheet" href="/static/css/animate.css">
<link rel="stylesheet" href="/static/css/base.css">

{% block head %}{% endblock %}

  </head>
<body>
   <!-- navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="img-responsive" src="/static/img/ok+logo.png" id="logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        
        {% if session.get("screenname") %}
        <li class="dropdown navfont">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OKCBot <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/okcbot">Messaging Bot</a></li>
            <li><a href="/markov">Profile Generator</a></li>
          </ul>
        </li>
        {% endif %}
        <li class="dropdown navfont">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analytics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/map">Adjective Map</a></li>
            <li><a href="/sankey">Sankey Profile</a></li>
          </ul>
        </li>
        {% if session.get("screenname") %}        
        <li class="navfont"><a href="/logout">Logout</a></li>
        {% else %}
        <li class="navfont"><a href="/new-user-form">Create New User</a></li>
        <li class="navfont"><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

 <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div id='flash-div'>
            <div class="alert alert-warning animated bounce">{{ message }}</div>
          </div> <!-- close flash -->
      {% endfor %}
  {% endwith %}
{% block content %}
{% endblock %}
<!-- Jasmine testing -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine-html.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/boot.js"></script>
<script src='/static/js/base.js'></script>

{% if g.jasmine_tests %}
    <script src="path-to-jasmine.js"></script> ...
{% endif %}

</body>
</html>