{% extends "base.html" %}
{% block title%}New User{% endblock %}

{% block content %}

<!-- change it so that when logging in again, div disappears -->


<form id="new-user-form" action="/new-user-landing" method="POST">
Sexual Orientation
    <label><input type="radio" class="orientation" name="orientation" value="1" checked>Straight</label>
    <label><input type="radio" class="orientation" name="orientation" value="2">Gay</label>
    <label><input type="radio" class="orientation" name="orientation" value="3">Bisexual</label><br>
Gender
    <label><input type="radio" class="gender" name="gender" value="1" checked>Man</label>
    <label><input type="radio" class="gender" name="gender" value="2">Woman</label><br>
Birthday
Birthmonth
    <select name="birthmonth" id="birthmonth" required>
        {% for month in months %}
        <option value="{{ month }}">{{ month }}</option>
        {% endfor %}
    </select>

Birthdate
    <select name="birthdate" id="birthdate">
        {% for day in days %}
        <option value="{{ day }}">{{ day }}</option>
        {% endfor %}
    </select>

Birthyear
    <select name="birthyear" id="birthyear">
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select><br>
    <!-- <div id="loading"><img id="loading-img" src= -->
Zip
    <label name="zipcode">
    <input type="text" pattern="\d{5,5}" placeholder="Zipcode" id="zip" required>
    </label><br>

Email
    <label name="email"><input type="email" placeholder="Email" id="email" required></label><div id="email-status"></div><br>

Username
    <label name="screenname"><input type="text" maxlength="15" placeholder="Username" id="screenname" required></label><div id="screenname-status"></div><br>

Password
    <label name="password"><input type="password" placeholder="Password" id="password" required></label><div id="password-status"></div><br>

    <input id="submit-btn" type='submit' value="Register">

</form>
<script>
    function printStatus(results){
        console.log("made it to print status");

        if (results==="This email is already in use."){
            $('#email-status').html(results);
        }
        else if (results==="Screenname already in use."){
            $('#screenname-status').html(results);
        }
        else if (results === "Password is too weak, choose again."){
            $('#password-status').html(results);
        }
        else if (results === "success") {
            $('#new-user-form').unbind("submit");
            $('#new-user-form').submit();
        }
    
        $('#submit-btn').removeAttr('disabled');
    }

    function checkStatus(){
    //could this all be done with form "sterilization"?  form.sterilze

        var formInputs = {
            "orientation": $(".orientation").val(),
            "gender": $(".gender").val(),
            "birthmonth": $("#birthmonth").val(),
            "birthdate": $("#birthdate").val(),
            "birthyear": $("#birthyear").val(),
            "zip": $("#zip").val(),
            "email": $("#email").val(),
            "screenname": $("#screenname").val(),
            "password": $("#password").val()
        };


        $.post('/new-user', formInputs, printStatus);
        console.log("made it to check status")
    }

    function submitForm(evt){
        evt.preventDefault();
        console.log("hey");
        $('#email-status').html("");
        $('#screenname-status').html("");
        $('#password-status').html("");

        $('#submit-btn').attr('disabled',true);
        checkStatus();
    }
        

    $('#new-user-form').on("submit", submitForm);

    $(window).load(function() {
        $('#loading').hide();
    });

</script>



{% endblock %}