{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block head %} 
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block content %}

<div class="container-fluid" id="whole-page">
    <div class="row" id='top-row'>
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <section><h1>Welcome to OKC+, the site that gives you access to OkCupid, and <span id="more">more</span>.</h1><section><hr></hr>
        </div><!-- close column -->
    </div> <!-- close row -->
    <div class='row' id='button'>
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <button class="btn btn-default" id="about">About</button>
        </div> <!-- close column -->
    </div> <!-- close row -->
    <div class='row'>
        <div class="col-xs-12 col-md-offset-3 col-md-6">
            <div id='about-text' hidden>
                <p>OKC+ allows you to create an OkCupid account, or login with your current account, to message others and create a custom self summary for your profile.</p><br>
                <p>I created an OkCupid account.  I then analyzed <b>58K profiles</b> across the country of people that are interested in the group I fall into:<br>straight woman aged 18-36 years old.</p>
                <p>This site shows you the profiles that I, <i>as a woman</i>, found.</p>
                <p>Come browse the analytics section to see why I put the <span id="female">&#9792;</span> into OKC+.</p>
            </div> <!-- close about-text -->
        </div> <!-- close column -->
    </div> <!-- close row -->

</div> <!-- close container -->

<script src='/static/js/home.js'></script>

{% endblock %}