{% extends "base.html" %}
{% block title%}Login{% endblock %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class='col-md-6 col-md-offset-3 col-xs-12'>
            <section><h1>Login!</h1><p>Log in using your OKCupid account.</p>
            </section>
            <hr></hr>
        </div> <!-- close column -->
    </div> <!-- close row -->
    <div class="row">
        <div class='col-md-6 col-md-offset-3 col-xs-12'>
            <table class="table">
                <form id="login-form" method="POST" action="/">
                    <tr>
                        <td>
                            <label for="screenname">Username</label>
                            <input name="screenname" type="text" placeholder="Username" id="screenname" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for ='password'>Password</label>
                            <input name="password" type="password" placeholder="Password" id="password" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="login-status"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type='submit' value="Login">
                        </td>
                    </tr>
                </form>
            </table>
        </div> <!-- close column -->
    </div> <!-- close row -->
</div> <!-- close container -->

<script>
    function printStatus(results){
        if(results==="True"){
            $('#login-form').unbind('submit');
            $('#login-form').submit();
             console.log(results);
        }else{
            $("#login-status").html("Invalid username/password.").attr("class","alert alert-danger").attr("role", "alert")
        }
    }

    function verifyLogin(evt){
        evt.preventDefault();

        var formInputs = {
            "screenname": $("#screenname").val(),
            "password": $("#password").val()
        };
        
        $.post('/login', formInputs, printStatus);

    }

    $("#login-form").on('submit', verifyLogin);
</script>



{% endblock %}