{% extends "base.html" %}

{% block title%}Login{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row" id='top-row'>
        <div class='col-md-6 col-md-offset-3 col-xs-12'>
            <section><h1>Login</h1><p>Log in using your OkCupid account.</p>
            </section>
            <hr></hr>
        </div> <!-- close column -->
    </div> <!-- close row -->
    <div class="row">
        <div class='col-md-6 col-md-offset-3 col-xs-12'>
            <div id='form-container'>
                <form id="login-form" method="POST" action="/">
                    <label for='screenname'>Username</label>
                        <input name="screenname" type="text" placeholder="Username" id="screenname" required><br>
                    <label for='password'>Password</label>
                        <input name="password" type="password" placeholder="Password" id="password" required><br>
                    <div id="login-status"></div>
                    <input id="submit-btn" type="submit" value="Login">
                </form>
            </div><!-- close form container -->
        </div> <!-- close column -->
    </div> <!-- close row -->
</div> <!-- close container -->

<script src='/static/js/login.js'></script>

{% endblock %}