{% extends "base.html" %}
{% block title%}Login{% endblock %}

{% block content %}

<!-- change it so that when logging in again, div disappears -->

<form id="login-form" method="POST" action="/login-landing">
Username
    <label><input name="screenname" type="text" placeholder="Username" id="screenname" required></label><br>
Password
    <label><input name="password" type="password" placeholder="Password" id="password" required></label><div id="login-status"></div>

<input type='submit' value="Login">

</form>

<script>
    function printStatus(results){
        if (results==true){
            $('#new-user-form').unbind('submit');
            $('#new-user-form').submit();
        }else{
            $("#login-status").html("Invalid username/password.")
        }


    }

    function verfiyLogin(evt){
        evt.preventDefault

        var formInputs = {
            "screenname": $("#screenname").val()
            "password": $("#password").val()

        };
        
        $.post('/login', formInputs, printStatus);

    }

    $("#login-form").on('submit', verifyLogin);
</script>



{% endblock %}