
{% extends "base.html" %}
{% block title %}Adjective Map{% endblock %}
{% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArY6jsEgpSky7AN31nasjreQ5HHPtmxx0&signed_in=true"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>


{% endblock %}

{% block content %}

 

<div class="container-fluid" id="whole-page">
    <div class="row" id="page">
        <div class="col-md-9 left-side" id="map"></div>
        <div class="col-md-3 right-side" id="controls">
            <form id='map-choices-form'>
                <label>

                    <!-- HTML to write -->
                    <h1><a href="#" data-toggle="tooltip-orientation" title="Select as many orientations you would like to filter on">Orientation</a></h1>
                    <ul>
                        {% for orientation in orientations %}
                            <li>
                                <input type="checkbox" name="orientation" value="{{orientation.orientation}}" checked>{{orientation.orientation}}
                            </li>
                        {% endfor %}
                    </ul>
                </label><br>
                <label>
                    <h1><a href="#" data-toggle="tooltip-orientation" title="Select as many genders you would like to filter on">Gender</a></h1>
                    <ul>
                        {% for gender in genders %}
                            <li>
                                <input type="checkbox" name="gender" value="{{gender.gender}}" checked>{{gender.gender}}
                            </li>
                        {% endfor %}
                    </ul>
                </label>
                <label for="age">
                    <h1>
                        <a href="#" data-toggle="tooltip-orientation" title="Select the age range you would like to filter on">Age range:</a>
                    </h1>
                </label>
                <input type="text" id="age" readonly name="age">
                <div id="slider-range"></div>
                <div id="loading">
                    <img id="loading-img" src="../static/gif/loading.gif">
                </div>
                <!-- <input type="submit" value="submit"> -->
            </form>
        </div>
    </div>
</div>



<!-- Modal window that pops up inside of Google Maps InfoWindow -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel">Send Messages</h4></div>
          <div class="modal-body">To:<div id="add-recipients"></div>
          <form id="message-form">
            <label>
              <input type="text" id="message" placeholder="Type your message...">
            </label>
            <input type="submit" value="send" class="btn btn-default">
          </form>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




<!-- Modal -->
<div class="modal fade" id="pageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About Maps Page</h4>
      </div>
      <div class="modal-body">
        <p>This page maps common adjectives in a given location.  It allows you to filter on orientation, gender, and age.</p>
        <p>It will show you, by location, what the most common adjectives are people use to describe themselves based on the filters you set.</p>
        <p>To get started, select:</p>
        <ul>
          <li>orientation</li>
          <li>gender</li>
          <li>age</li>
        </ul>
        ...and submit!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Begin!</button>
      </div>
    </div>
  </div>
</div>



<script src="../static/js/map.js"></script>
{% endblock %}