
{% extends "base.html" %}
{% block title %}Adjective Map{% endblock %}
{% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArY6jsEgpSky7AN31nasjreQ5HHPtmxx0&signed_in=true"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>

    <script>
    $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
    })

    $('#myModal').modal()

    </script>
{% endblock %}

{% block content %}

    <script>
// (function () {
    var styles = [{"featureType":"all","elementType":"all","stylers":[{"hue":"#ffbb00"}]},{"featureType":"all","elementType":"geometry.fill","stylers":[{"hue":"#ffbb00"}]},{"featureType":"all","elementType":"labels.text.fill","stylers":[{"hue":"#ffbb00"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#7da5ea"}]}]


    var infoWindow = new google.maps.InfoWindow({
      width: 150
    });

    function bindInfoWindow(marker, map, infoWindow, html) {
          google.maps.event.addListener(marker, 'click', function () {
              infoWindow.close();
              infoWindow.setContent(html);
              infoWindow.open(map, marker);
              console.log("inside bind infos");

          var htmlInput = {
            "html": html
          }
            $.post("/map-html.json", htmlInput, addToModal);
          });
    }

    // Adds a marker to the map.
    function addMarkers(dictionary){
      $('#loading').hide();

      for(entry in dictionary){

        var latitude = dictionary[entry]['lat'];
        var longitude = dictionary[entry]['lng'];
        var adjective = dictionary[entry]['adj'];
        var count = dictionary[entry]['count'];
        var population = dictionary[entry]['population'];
        var location = dictionary[entry]['location'];
        var profile_list = dictionary[entry]['profile_list'];
        var profiles = dictionary[entry]['profiles']



        if (adjective != ""){
            var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: {lat: latitude, lng: longitude},
            radius: count * 50
            });

            //fix labels on buttons
            var html = '<div id="content"><p>'+population+' profiles in '+location+'</p><p>matching your search</p><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Message Profiles in '+location+'</button><p><span id="count">'+count+'</span> occurences of '+adjective+'</p><div hidden>'+profiles+'</div><div hidden>'+profile_list+'</div><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal2">Message Profiles with '+adjective+'</button></div>';

            var marker = new MarkerWithLabel({
              position: {lat: latitude, lng: longitude},
              labelContent: adjective,
              map: map,
              labelClass: "labels",
              labelInBackground: false
            });  
          
        }else{

            var html = '<div id="content"><p>No profiles match your search parameters</p><p>in '+location+'</p></div>';
            
            var marker = new google.maps.Marker({
              position: {lat: latitude, lng: longitude},
              label: adjective,
              map: map
            });
        }

        bindInfoWindow(marker, map, infoWindow, html);
      }

    }


    var map;
    function initialize() {
      var lebanon = { lat: 39.8282, lng: -98.5795 };
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: lebanon
      });
        // .setOptions({styles, styles})
      return map;
    }


    google.maps.event.addDomListener(window, 'load', initialize);
    
// })();

  </script>


<div class="container-fluid" id="whole-page">
    <div class="row" id="page">
        <div class="col-md-9 left-side" id="map"></div>
        <div class="col-md-3 right-side" id="controls">
            <form id='map-choices-form'>
                <label>
                    <h1>Orientation</h1>
                    {% for orientation in orientations %}
                    <input type="checkbox" name="orientation" value="{{orientation.orientation}}">{{orientation.orientation}}
                    {% endfor %}

                </label><br>
                <label>
                    <h1>Gender</h1>
                    {% for gender in genders %}
                    <input type="checkbox" name="gender" value="{{gender.gender}}">{{gender.gender}}
                    {% endfor %}
                </label>
                <label for="age"><h1>Age range:</label>
                     <input type="text" id="age" readonly></h1>              
                        <div id="slider-range"></div>
                 <div id="loading"><img id="loading-img" src="../static/gif/loading.gif"></div>
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel">Send Messages</h4></div>
          <div class="modal-body">To:<div id="add-long-count"></div>
          <form id="long-list-form">
            <label>
              <input type="text" id="message" placeholder="Type your message...">
            </label>
            <!-- <input type="submit" value="send"> -->
          </form>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="long-button" type="button" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button><h4 class="modal-title" id="myModalLabel2">Send Messages</h4></div>
          <div class="modal-body">To:<div id="add-short-count"></div>
          <form id="short-list-form">
            <label>
              <input type="text" id="message" placeholder="Type your message...">
            </label>
            <input type="submit" value="send">
          </form>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  </div>







<script>




function addToModal(data){
  $("#add-short-count").html(data.short_list)
  $("#add-long-count").html(data.long_list)
}


// slider
$(function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 18,
      max: 98,
      values: [ 20, 30 ],
      slide: function( event, ui ) {
        $( "#age" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    $( "#age" ).val( $( "#slider-range" ).slider( "values", 0 ) +
      " - " + $( "#slider-range" ).slider( "values", 1 ) );
  });

function formSubmission(evt){
    evt.preventDefault();
    $("#loading").show();
    console.log("formSubmission");

    var inputs = {
        "orientation": ($('input[name="orientation"]:checked').serialize()),
        "gender": ($('input[name="gender"]:checked').serialize()),
        "age": $("#age").val()
    };

    $.get("/map.json", inputs, addMarkers);
}

$("#map-choices-form").on('submit', formSubmission);

//keep loading gif hidding
$('#loading').hide();

////////////////////////STUCK HERE
function messageShortSubmission(evt){
  evt.preventDefault();
  // $("#message").hide();
  // $("#add-short-count").hide();
  var recipients = $("#add-short-count").val();
  var message = $("#message").val();

  var sendShortInputs = {
    "recipients": recipients,
    "message": message
  };

  $.post("/send-message.json", sendShortInputs, function(data){console.log("finished short sub");});
}

$("#short-button").on('click', messageShortSubmission);

function messageLongSubmission(evt){
  evt.preventDefault();
  // $("#message").hide();
  // $("#add-long-count").hide();
  var recipients = $("#add-long-count").val();
  var message = $("#message").val();

  var sendLongInputs = {
    "recipients": recipients,
    "message": message
  };

  $.post("/send-message.json", sendLongInputs, function(data){console.log("finished long sub");});
}

$("#long-button").on('click', messageLongSubmission);


  </script>
{% endblock %}