{% extends "base.html" %}
{% block title %}Profile Generator{% endblock %}
{% block head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}
{% block content %}
<form id="markov-form">

        <select name="orientation" id="orientation" class="input">
            {% for orientation in orientations %}
                <option value="{{orientation.orientation}}">{{orientation.orientation}}</option>
            {% endfor %}
        </select>
         <select name="gender" id="gender" class='input'>
            {% for gender in genders %}
                <option value="{{gender.gender}}">{{gender.gender}}</option>
            {% endfor %}
        </select>
        <label for="age">
            Age range:              
        </label>
        <input type="text" id="age" class="input" readonly name="age">
        <div id="slider-range" class="input"></div>
        
        <div class="ui-widget input">
            <label for="location">Location: </label>
        <input type="text" id="location" class="input" value="San Francisco, CA" required>
        </div>

<!--         <label oninput="amount.value=radius.value">
        Radius (miles):<input type="range" id="radius" name="radius" min="0" max="100">
        <output name="amount" for="radius">0</output>
        </label> -->

        <label>
        <select name="adjective1" id="adjective1" class = "adjective">
            <option value="adjective1" >No adjectives available</option>
        </select>
        </label>
        
        <label>
        <select name="adjective2" id="adjective2" class = "adjective">
            <option value="adjective2">No adjectives available</option>
        </select>
        </label>

        <label>
        <select name="adjective3" id="adjective3" class = "adjective">
            <option value="adjective3">No adjectives available</option>
        </select>
        </label>

        <!-- <div class="ui-widget">
            <label for="location">Adjectives: </label>
        <input id="adjective1" class="adjective" required>
        </div>
        
        <div class="ui-widget">
            <label> 
        <input id="adjective2" class="adjective" required>
            </label>
        </div>
        
        <div class="ui-widget">
            <label> 
        <input id="adjective3" class="adjective" required>
            </label>
        </div>
     -->
        <label>
        Randomness:<input type="range" id="randomness" name="randomness" min="2" max="5">
        </label>
        <input type="submit" value="Generate">
    </form>
    <div id="markov"></div>
     <button type="button" id="add-btn" class="btn btn-default" value="Add to 'Self Summary' in my profile!" disabled>Add to 'Self Summary' in my profile!</button>
     <div id="status"></div>

<script>

    // slider
    $(function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 18,
            max: 98,
            values: [ 20, 30 ],
            slide: function( event, ui ) {
                $( "#age" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
                }
            });
        $( "#age" ).val( $( "#slider-range" ).slider( "values", 0 ) +
          " - " + $( "#slider-range" ).slider( "values", 1 ) );
    });

    //location autofill
    $(function() {
        var availableTags = [];
            {% for location in locations %}
            availableTags.push("{{location.location}}");
            {% endfor %}
    $( "#location" ).autocomplete({
      source: availableTags
    });
  });


  //   //adjective autofill
  //   $(function() {
  //       var adjectiveTags = [];
  //           {% for adjective in adjective_generator %}
  //               adjectiveTags.push("{{adjective}}");
           
  //           {% endfor %}
  //   $( ".adjective" ).autocomplete({
  //     source: adjectiveTags
  //   });
  // });

    function status(data){
        $("#status").html("Updated!")
    }

    function addToProfile(evt){
        var text= {
            "text": $("#markov").html()
        }
        $.post("/add-to-profile.json", text, status);
    }

    $("#add-btn").on("click", addToProfile)
    
    function showAdjectives(data){
        var options = $.parseJSON(data);
        console.log("options is "+options);
        $('.adjective').empty();
        if (options != ""){
            console.log("in full adjectives list");
            $.each(options, function(i, p) {
            $('.adjective').append($('<option></option>').val(p).html(p));
            });
        }else{
            console.log("empty adjective list")
            $('.adjective').append($('<option></option>').val("No adjectives available").html("No adjectives available"));
        }
    }

    $('.input').on('change slidechange keypress', function (event) {
        console.log("change observed")        
        var adjectiveInputs = {
            "orientation": $("#orientation").val(),
            "gender": $("#gender").val(),
            "age": $("#age").val(),
            "location": $("#location").val(),
        }
        $.get("/markov-adjectives.json", adjectiveInputs, showAdjectives)
    });



    function displayMarkov(data){
        $("#markov").html(data);
        if(data!='invalid search results'){
            $("#add-btn").removeAttr('disabled');
        }

    }

    function execute(evt){
        evt.preventDefault();
        var inputs = {
            "orientation": $("#orientation").val(),
            "gender": $("#gender").val(),
            "age": $("#age").val(),
            "location": $("#location").val(),
            // "radius": $("#radius").val(),
            "randomness": $("#randomness").val(),
            "adjective1": $("#adjective1").val(),
            "adjective2": $("#adjective2").val(),
            "adjective3": $("#adjective3").val()

        }

        $.get("/markov.json", inputs, displayMarkov)
    }
    $("#markov-form").on("submit", execute)

</script>

{% endblock %}