{% extends "base.html" %}
{% block title%}OKCBot{% endblock %}

{% block content %}


<form method="POST" action="/" id="okcbot-form">
Minimum Age
    <label><input name="minimum_age" type="text" placeholder="Min age" id="minimum_age" required></label><br>
Maximum Age
    <label><input name="maximum_age" type="text" placeholder="Max age" id="maximum_age" required></label><br>
Seeking
    <select name="gentation" id="gentation" required>
        <option value="girls who like guys">girls who like guys</option>
        <option value="guys who like guys">guys who like guys</option>
        <option value="both who like bi guys">both who like bi guys</option>
        <option value="guys who like girls">guys who like girls</option>
        <option value="girls who like girls">girls who like girls</option>
        <option value="both who like bi girls">both who like bi girls</option>
    </select><br>
Location
    <label><input name="location" type="text" placeholder="Location" id="location" required></label><br>
Radius (miles)
    <label><input name="radius" type="text" placeholder="Radius" id="radius" required></label><br>
Number of people to message
   <label><input type="text" name="num" placeholder="Number" id="num" required></label><br>
Message to send
   <label><input type="text" name="message" placeholder="Message" id="message" required></label><br>
 
 <div id="status"></div>

 <div id="loading"><img id="loading-img" src="../static/gif/loading.gif"></div>

<input id='submit-btn' type='submit' value="Send">
</form>

<script>

function printStatus(results){
    if (results){
        $('#loading').hide();
        $("#status").html(results);
    }else{
        $('#okcbot-form').unbind("submit")
        $("#okcbot-form").submit();
    }
}


function checkStatus(evt){
    evt.preventDefault();
    $("#loading").show();
    $("#status").html("");

    var formInputs = {
        "minimum_age": $("#minimum_age").val(),
        "maximum_age": $("#maximum_age").val(),
        "location": $("#location").val(),
        "radius": $("#radius").val(),
        "gentation": $("#gentation").val(),
        "message": $("#message").val(),
        "num": $("#num").val()
    }

    $.post('/okcbot', formInputs, printStatus);
}

$('#loading').hide();
$("#okcbot-form").on('submit', checkStatus);

console.log("outside of function")

</script>

{% endblock %}