{% extends "base.html" %}
{% block title%}OKCBot{% endblock %}

{% block content %}


<form method="POST">
Minimum Age
    <label ><input name="minimum_age" type="text" placeholder="Min age" id="minimum_age" required></label><br>
Maximum Age
    <label><input name="maximum_age" type="text" placeholder="Max age" id="maximum_age" required></label><br>
Seeking
    <select name="gentation" id="gentation" required>
        <option value="girls who like guys">girls who like guys</option>
        <option value="guys who like guys">guys who like guys</option>
        <option value="both who like bi guys">both who like bi guys</option>
        <option value="guys who like girls">guys who like girls</option>
        <option value="girls who like girls">girls who like girls</option>
        <option value="both who like bi girls">both who like bi girls</option>
    </select><br>
Key word in profile
    <label><input type="text" name="word" placeholder="Word" id="word"></label><br>
Number of people to message
   <label><input type="text" name="num" placeholder="Number" id="num" required></label><br>
Message to send
   <label><input type="text" name="message" placeholder="Message" id="message" required></label><br>

<input type='submit' value="Send">
</form>




{% endblock %}