{% extends "base.html" %}

{% block title %}Sankey Chart{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/sankey.css">
{% endblock %}

{% block content%}
<div class="container-fluid" id="whole-page">
     <div class="row" id='top-row'>
        <div class='col-md-6 col-md-offset-3 col-xs-12'>
            <section><h1>Mean Shift Algorithm Profile Analysis</h1><p>Profiles were clustered using a mean shift clustering algorithm<a href='https://en.wikipedia.org/wiki/Mean_shift'><span  data-toggle="tooltip" title="The mean shift algorithm is a nonparametric clustering technique which does not require prior knowledge of the number of clusters, and does not constrain the shape of the clusters." class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>.</p><p>Compare how people describe themselves versus what they are looking for.</p>
            </section>
            <hr></hr>
        </div> <!-- close column -->
    </div> <!-- close row -->

    <div class="row">
        <div id='self-summary' class="col-md-4 col-xs-12">
            <div id="self_summary_header" class="header"><h2>"Self Summary" Cluster</h2><p><i>Hover over chart to reveal</i></p></div>
                <div id ="self_summary_words_container" class ="words_container">
            <!--         <ul>
                    </ul> -->
                </div><!-- close words container -->

                <div id='self-summary-chart-container' class='chart-container'>
                    <div id ="self-summary-gender" class="pie-chart">
                        <canvas id="self-summary-gender-chart" class='chart'></canvas>
                    </div> <!-- close gender chart -->
                    <div id ="self-summary-orientation" class="pie-chart">
                        <canvas id="self-summary-orientation-chart" class='chart'></canvas>
                    </div> <!-- close orientation chart -->
                    <div id ="self-summary-age" class="pie-chart">
                        <canvas id="self-summary-age-chart"></canvas>
                    </div> <!-- close age chart -->
                </div><!-- close chart container -->
                <div id='self-summary-comment-info-container' class='chart-container'>
                    <div id="self-summary-gender-comment-info" class="comment-info">
                        <ul>
                        </ul>
                    </div>
                    <div id="self-summary-orientation-comment-info" class="comment-info">
                        <ul>
                        </ul>                        
                    </div>
                    <div id='self-summary-age-comment-info' class="comment-info">
                        <ul>
                        </ul>
                    </div>
                </div> <!-- close comment info container -->

            </div><!-- close column -->

        <div class="col-md-4 col-xs-12">
            <div id='chart-header' class='header'><h2>Sankey Chart</h2>
                <div id="chart"></div>
            </div> <!-- close chart header -->
        </div> <!-- close column -->

        <div id='message-me-if' class="col-md-4 col-xs-12">
            <div id="message_me_if_header" class="header"><h2>"Message Me If" Cluster</h2><p><i>Hover over chart to reveal</i></p></div>
            <div id ="message_me_if_words_container" class ="words_container">
                <ul>
                </ul>
            </div><!-- close words container -->
            <div id='message-me-if-chart-container' class='chart-container'>
                <div id ="message-me-if-gender" class="pie-chart">
                    <canvas id="message-me-if-gender-chart" class='chart'></canvas>
                </div> <!-- close gender chart -->
                <div id ="message-me-if-orientation" class="pie-chart">
                    <canvas id="message-me-if-orientation-chart" class='chart'></canvas>
                </div> <!-- close orientation chart -->
                <div id ="message-me-if-age" class="pie-chart">
                    <canvas id="message-me-if-age-chart" class='chart'></canvas>
                </div> <!-- close age chart -->
            </div> <!-- close chart container -->
            <div id='message-me-if-comment-info-container' class='chart-container'>
                <div id="message-me-if-gender-comment-info" class="comment-info">
                    <ul>
                    </ul>
                </div>
                <div id="message-me-if-orientation-comment-info" class="comment-info">
                    <ul>
                    </ul>
                </div>
                <div id='message-me-if-age-comment-info' class="comment-info">
                    <ul>
                    </ul>
                </div>
            </div> <!-- close comment info container -->

        </div> <!-- close column -->

    </div> <!-- close row -->
</div> <!-- close container -->

<!-- D3 -->
<script src="http://d3js.org/d3.v3.min.js"></script> 

<!-- Jquery for D3 -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 

<!-- Chart -->
<script src="/static/js/Chart.js"></script> 
<!-- more chart JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

<!-- JS code for site -->
<script src='/static/js/sankey.js'></script>

<!-- JS code for D3 -->
<script src='/static/js/sankey_d3.js'></script>
{% endblock %}